* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1366px;
    margin: 0 auto;
    background-color: #E5E5E5;
    color: #242424;
}


/* header */

.header-container {
    margin-right: 110px;
    margin-left: 110px;
    position: relative;
    max-height: 834px;
}

.header__navigation {
    padding-top: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__item {
    display: flex;
}

.navigation__link {
    text-decoration: none;
    margin-right: 32px;
    font-weight: 600;
    font-size: 16px;
}

.logo-circle{
    width: 49px;
    height: 49px;
    border: solid 2px #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title{
    margin-top: 76px;
    font-weight: bold;
    font-size: 72px;
}

.header__text--grey {
    font-weight: 300;
    font-size: 16px;
    color: #6B6B6B;
    margin-top: 2px;
}

.header__text--brown {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #474747;
    max-width: 659px;
    margin-top: 12px;
}

.header__text--gold {
    max-width: 428px;
    margin-top: 43px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #C78100;
}

.header__img--dog {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -2;
}
.header__img--cat {
    position: absolute;
    top: 470px;
    right: 166px;
    z-index: -1;
}

.header__svg-text {
    position: absolute;
    z-index: -1;
}

.header__svg-text--first {
    top: 374px;
    left: -110px;
}

.header__svg-text--second {
    top: 566px;
    left: -110px;
}

.header__svg-text--third {
    top: 671px;
    right: 486px;
}

.btn {
    margin-top: 44px;
    padding: 5px 33px 5px 33px;
    background-color: #FBC832;
    border-radius: 21px;
}