* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*fonts*/
@font-face {
    font-family: Gilroy;
    src: url(fonts/Gilroy-Medium.woff);
    src: url(fonts/Gilroy-Medium.woff2);
    font-display: swap;
}

body {
    width: 1366px;
    margin: 0 auto;
    background-color: #E5E5E5;
    color: #242424;
    font-family: Gilroy, serif;
}


/* header */

.header-container {
    margin-right: 110px;
    margin-left: 110px;
    position: relative;
    max-height: 834px;
}

.header__navigation {
    padding-top: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__item {
    display: flex;
}

.navigation__link {
    text-decoration: none;
    margin-right: 32px;
    font-weight: 600;
    font-size: 16px;
    color: #242424;
}

.logo-circle{
    width: 49px;
    height: 49px;
    background: linear-gradient(150.26deg, #FFE28F 6.75%, #ECBD37 91.17%);
    box-shadow: 3px 3px 13px #C18F00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-circle:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: linear-gradient(150.26deg, #FFEAAD 6.75%, #FCE6A7 45.73%, #FFC726 91.17%);
    box-shadow: 3px 3px 13px #C18F00;
}


.gradient {
    width: 63px;
    height: 63px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    background: linear-gradient(144.1deg, #FFE193 12.45%, #FFC93F 89.31%);
    box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #FFDB7E, inset 13px 22px 8px #F1C74F;
}

.header__title{
    margin-top: 76px;
    font-weight: bold;
    font-size: 72px;
}

.header__text--grey {
    font-weight: 300;
    font-size: 16px;
    color: #6B6B6B;
    margin-top: 2px;
}

.header__text--brown {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #474747;
    max-width: 659px;
    margin-top: 12px;
}

.header__text--gold {
    max-width: 428px;
    margin-top: 43px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #C78100;
}

.header__img--dog {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -2;
}
.header__img--cat {
    position: absolute;
    top: 470px;
    right: 166px;
    z-index: -1;
}

.header__svg-text {
    position: absolute;
    z-index: -1;
}

.header__svg-text--first {
    top: 374px;
    left: -110px;
}

.header__svg-text--second {
    top: 566px;
    left: -110px;
}

.header__svg-text--third {
    top: 671px;
    right: 486px;
}

.btn {
    height: 32px;
    padding-right: 26px;
    padding-left: 29px;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    font-weight: 500;
    font-size: 20px;
    border: none;
}

.gradient--btn {
    margin-top: 44px;
    width: 183px;
    height: 42px;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    border-radius: 58px;
}